@use "../../../global.scss" as *;

.aboutSection {
    padding: 180px 24px;
    position: relative;

    .aboutBG {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0%;
        left: 0%;
        z-index: 0;
        overflow: hidden;

        .aboutBGImg {
            // background-image: url("/assets/images/about-curvyBG.png");
            // background-size: cover;
            position: relative;
            height: 100%;
            width: 100%;
            top: 0%;
            left: 0%;
            opacity: 0.3;

            &:nth-of-type(2) {
                display: none;
            }
            @media (max-width: $mobileBreakpoint) {
                // background-image: url("/assets/images/about-curvyBG-mobile.png");

                &:nth-of-type(1) {
                    display: none;
                }
                &:nth-of-type(2) {
                    display: block;
                }
            }
        }

        .aboutBGPurplePlanet {
            width: 30%;
            position: absolute;
            top: 5%;
            left: 100%;
            transform: translateX(-50%);
            border-radius: 100%;
            filter: brightness(50%);
            box-shadow: 0px 0px 60px #ff00cc8f;
            max-width: 540px;

            @media (max-width: $mobileBreakpoint) { 
                transform: translateX(-75%);
                width: 55%;
            }
        }
        .aboutBGGreenPlanet {
            width: 30%;
            position: absolute;
            bottom: 25%;
            left: 0%;
            box-shadow: 0px 0px 60px #054325CC;
            border-radius: 100%;
            transform: translate(-25%);
            filter: brightness(25%);
            max-width: 600px;
            
            @media (max-width: $mobileBreakpoint) { 
                transform: translateX(-25%);
                width: 70%;
            }
        }
    }

    .aboutContent {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        width: 100%;
        z-index: 10;

        .aboutTitleContainer {
            margin-bottom: 30px;

            .aboutTitle {
                margin: 3px 0px;
                color: $fgColor;
                font-family: $primaryFont;
                font-size: 1.5rem;
                text-align: center;
                font-weight: 500;
            }

            .aboutTitleBottom {
                width: 100%;
            }
        }

        .aboutParaBox {
            background-color: #21212161;
            backdrop-filter: blur(3px);
            border: 1px solid #D5D5D5;
            width: 60%;

            .aboutPara {
                color: $fgColor;
                font-family: $paragraphFont;
                padding: 9px 24px;
                font-size: 1.2rem;
                text-align: center;
            }

            @media (max-width: $tabBreakpoint) {
                width: 75%;
            }
            @media (max-width: $mobileBreakpoint) {
                width: 100%;
            }
        }
    }
}