@use "./global.scss" as *;

body {
    margin: 0px;
    padding: 0px;
}

.singleScrollerPage {
    position: relative;
    .mainBg {
        position: absolute; 
        top: 0%;
        left: 0%;
        z-index: -1;
        height: 100%;
        width: 100%;
        .mainBgImage {
            position: relative;
            width: 100%;
            height: 100%;
            background-image: url("./assets/images/space.jpg");
            filter: brightness(15%);
            background-size: contain;
        }
    }
}